*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
    margin-top: 10px;
}
header{
    height: 80px;
    background: #0c6f52;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.user-profil-wrapper{
    width: 300px;
    margin: 50px auto;
}
.main-main-container{
    display: flex;
    justify-content: space-around;
}
.frist-name{
    font-size: 25px;
    /* font-weight: bold; */
}
.last-name{
    font-size: 30px;
    font-weight: bold;
    color: rgba(68, 68, 68, 0.466);
}
.names{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name-wrapper{
    width: 100%;
}
h2{
    color: #0c6f52;
    text-align: center;
}
button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background: #0c6f52;
    margin: 50px;
}
.time-line{
    width: 100%;
    height: 180px;
    position: relative;
}
.time-line::before{
    content: "";
    height: 145px;
    border: 3px solid #0c6f52;
    position: absolute;
    top: 38px;
    left: 18px;
}
.circle-date{
    display: flex;
    align-items: center;
}
.circle{
    width: 40px;
    height: 40px;
    background: #0c6f52;
    border-radius: 50%;

}
.date{
    font-size: 25px;
    font-weight: 900;
    margin-left: 20px;
}
.description{
    width: 85%;
    height: 130px;
    border: 1px solid;
    box-shadow: 0 0 5px black;
    text-align: center;
    font-size: 30px;
    margin: 15px 0 0 60px;
    line-height: 30px;
    color: rgb(233, 93, 13);
}
.description:last-child{
    padding: 50px;
}
@media screen and (max-width:900px) {
    .user-profil-wrapper{
        width: 200px;
        margin: 50px auto;
    }
    button{
        width: 120px;
        height: 40px;
        border-radius: 10px;
        color: white;
        background: #0c6f52;
        margin: 10px;
    }
    .description{
        width: 89%;
        height: 130px;
        border: 1px solid;
        box-shadow: 0 0 5px black;
        text-align: center;
        font-size: 30px;
        margin: 15px 0 0 60px;
        color: rgb(233, 93, 13);
    }
}
@media screen and (max-width:700px) {
    .main-main-container{
        display: flex;
        flex-direction: column;
    }
    .main-second-container{
        margin-top: 50px;
    }
}
@media screen and (max-width:476px) {
    .description{
        font-size: medium;
        width: 70%;
    }
    .description{
        width: 85%;
        height: 130px;
        line-height: 10px;
        box-shadow: 0 0 5px black;
        /* text-align: center; */
        font-size: 15px;
        margin: 15px 0 0 40px;
        color: rgb(233, 93, 13);
    }
}